
body{
    padding-top: 70px; padding-bottom: 100px;

}


#sidefedexlogo{
    background-image: url("/static/images/Fedex-Logo2.png");
    background-repeat: no-repeat;
    min-height: 600px;
    margin-top:50px;
}