<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>MAC</th>
        <th>IP</th>
        <th>Interface</th>
    </tr>
    </thead>
    <tbody>
    {% for endpoint in endpoints %}
    <tr>
        <td><div style="font-size:.8em;font-family: menlo">{{ endpoint.mac }}</div></td>
        <td><div style="font-size:.9em;font-family: menlo">{{ endpoint.ip }}</div></td>
        <td>{{ endpoint.interface }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>