<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>Severity</th>
        <th>Description</th>
        <th>Cause</th>
        <th>Creation Time</th>
    </tr>
    </thead>
    <tbody>
    {% for fault in faults %}
    <tr>
        <td width="10%"><div style="font-size:1.1em;">{{ fault.severity }}</div></td>
        <td width="50%"><div style="font-size:.8em;">{{ fault.descr }}</div></td>
        <td width="20%">{{ fault.cause }}</td>
        <td width="20%">{{ fault.created[:-13].replace('T',' ') }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>