{% extends "main.html" %}
{% set labelclasslg = "col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label" %}
{% set selectclass = "col-lg-4 col-md-4 col-sm-4 col-xs-4" %}
{% set txtinputclassmd = "col-lg-6 col-md-6 col-sm-12 col-xs-12" %}
{% block subcontent %}

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div style="font-size:2.0em; margin:10px 20px 0px 0px;border-bottom:1px solid #f0f0f0;">
        {{ network }}
    </div>
    <div style="font-size:1.0em; padding-left:20px;">
        Net Group:&nbsp;{{tenant}}
    </div>
</div>
<div id="epg_score" style="margin-top: 25px;margin-bottom: 25px;"
     class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div id="score_busy_indicator">
        <img src="/static/images/loading.gif" style="height:20px"/>
    </div>
</div>
<hr/>
<input type="hidden" value="{{ tenant }}" name="tenant"/>
<input type="hidden" value="{{ network }}" name="network"/>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#stats" data-toggle="tab">Stats</a></li>
        <li><a href="#endpoints" data-toggle="tab">Endpoints</a></li>
        <li><a href="#faults" data-toggle="tab">Faults</a></li>
        <li><a href="#history" data-toggle="tab">History</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active fade in" id="stats" style="height:20px;margin:20px 10px 10px 10px;">
            <canvas id="traffic_chart" style="max-height:500px; max-width:900px;"></canvas>
        </div>
        <div class="tab-pane fade" id="endpoints" style="height:20px;margin:20px 10px 10px 10px;">
            <div id="endpoints_busy_indicator">
                <img src="/static/images/loading.gif" />
            </div>
        </div>
        <div class="tab-pane fade" id="faults" style="height:20px;margin:20px 10px 10px 10px;">
            <div id="fault_busy_indicator">
                <img src="/static/images/loading.gif" />
            </div>
        </div>

        <div class="tab-pane fade" id="history" style="height:20px;margin:20px 10px 10px 10px;">
            <div id="fault_history_busy_indicator">
                <img src="/static/images/loading.gif" />
            </div>
        </div>
    </div>
</div>
{% endblock subcontent %}

{% block scripts %}
{{ super() }}
<script>
    $().ready(function() {
        get_epg_health_score();
        get_traffic_chart();
		get_endpoints();
		get_faults();
		get_faults_history();

});


</script>


{% endblock scripts %}