<div id="access_switch_tab" class="tab-pane fade">
    <div id="div_access_switch" name="div_access_switch" class="panel panel-primary">
        <div class="panel-heading">Access Switch
            <div id="access_switch_response" style="float:right;font-size:16px"></div>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#"
                       onclick="$('#send_commands').css('display','none');
                            $('#create_access_switch').css('display','');
                            $('#div_delete_access_switch').css('display','')">
                        Create/Delete</a>
                </li>
                <li class=""><a data-toggle="tab" href="#"
                                onclick="$('#create_access_switch').css('display','none');
                                $('#div_delete_access_switch').css('display','none');
                            $('#send_commands').css('display','');">
                    Send commands</a></li>
            </ul>
            <br/>
            <div id="create_access_switch">
                <div class="form-group">
                    <label class="{{ labelclass }}"> Hostname
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="Hostname"
                                          data-content="Specify the switch hostname">
                                    </span>
                    </label>
                    <div class="{{ txtinputclassmd }}">
                        <input type="text" class="form-control" maxlength="50" id="access_switch_hostname"
                               value="" name="access_switch_hostname" placeholder="Switch Hostname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="{{ labelclass }}"> IP
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="IP"
                                          data-content="Ingress the switch IP">
                                    </span>
                    </label>
                    <div class="{{ txtinputclassmd }}">
                        <input type="text" class="form-control" maxlength="50" id="access_switch_ip" value=""
                               name="access_switch_ip" placeholder="x.x.x.x">
                    </div>
                </div>
                <div class="form-group">
                    <label class="{{ labelclass }}"> User
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="User"
                                          data-content="Ingress the switch username to be configured">
                                    </span>
                    </label>
                    <div class="{{ txtinputclassmd }}">
                        <input type="text" class="form-control" maxlength="50" id="access_switch_user"
                               value=""
                               name="access_switch_user" placeholder="Username">
                    </div>
                </div>
                <hr>
                <button id="btn_create_switch" type="button" class="btn btn-primary"
                        onclick="create_access_switch()">
                    Create
                </button>
            </div>

            <div id="send_commands" style="display:none">
                <div class="form-group">
                    <label class="{{ labelclass }}"> Switch
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="Access switch"
                                          data-content="Select the switch port to be assigned to the vpc.">
                                    </span>
                    </label>
                    <div class="{{ selectclass }}">
                        <select id="sel_access_switch" name="sel_access_switch" class="form-control sel-access-switch">
                        </select>
                    </div>
                </div>
                <hr>
                <button id="btn_add_switch_configure" type="button" class="btn btn-primary" onclick="add_switch()">Add
                </button>
                <div class="form-group">
                    <table id="table_access_switches" class="table table-striped">
                        <thead>
                        <tr>
                            <th>IP (hostname)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr></tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="form-group">
                    <label class="{{ labelclass }}"> Password
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="Password"
                                          data-content="Specify the password to be use. This one will be used for
                                          login and for the enable mode if required">
                                    </span>
                    </label>
                    <div class="{{ txtinputclassmd }}">
                        <input type="password" class="form-control" maxlength="50" id="access_switch_password"
                               value="" name="access_switch_password" placeholder="*********">
                    </div>
                </div>
                <div class="form-group">
                    <label class="{{ labelclass }}"> Commands
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="Commands"
                                          data-content="Commands to be executed within the access switch">
                                    </span>
                    </label>
                    <div class="{{ txtinputclassmd }}">
                            <textarea class="form-control" maxlength="500" id="access_switch_commands"
                                      value="" name="access_switch_commands"
                                      placeholder="Enter commands, one per line. The starting level is EXEC mode"
                                      style="font-family: inherit;min-height: 150px;"></textarea>
                    </div>

                </div>
                <hr>
                <button id="btn_access_switch" type="button" class="btn btn-primary"
                        onclick="configure_access_switches()">
                    Configure
                </button>
                <input type="hidden" value="" id="hd_configure_access_switches" name="hd_configure_access_switches"/>
                <hr>
                <div class="form-group">
                    <label class="{{ labelclass }}"> Result
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="Commands"
                                          data-content="Commands to be executed within the access switch">
                                    </span>
                    </label>
                    <div class="{{ txtinputclassmd }}">
                            <textarea class="form-control" id="access_switch_result"
                                      value="" name="access_switch_result"
                                      placeholder="Send the commands to see the output"
                                      style="font-family: inherit;min-height: 150px;" readonly></textarea>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div id="div_delete_access_switch" name="div_delete_access_switch" class="panel panel-danger">
        <div class="panel-heading">Delete Access Switch
            <div id="delete_access_switch_response" style="float:right;font-size:16px"></div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="{{ labelclass }}"> Switch IP
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="Group"
                                          data-content="Select the switch IP to be deleted">
                                    </span>
                </label>
                <div class="{{ selectclass }}">
                    <select id="sel_delete_access_switch" name="sel_delete_access_switch"
                            class="form-control sel-access-switch">
                    </select>
                </div>
            </div>
            <hr>
            <button id="btn_delete_access_switch" type="button" class="btn btn-danger"
                    onclick="delete_access_switch()">
                Delete
            </button>
        </div>
    </div>
</div>