{% extends "base.html" %}


{% block head %}
{{ super() }}
<title>ACI Migration Tool</title>
{% endblock head %}
{% block navbar %}

<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <div class="pn-noncollapse">ACI migration tool</div>
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar navbar-inverse"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="ciscoliveitem"><a target="blank" data-toggle="modal" data-target="#ABOUT"
                                                 href="#">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navHeaderCollapse">
                    <img width="35px" style="margin:6px;" src="/static/images/CiscoLogoWhite.png">

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
{% endblock navbar %}

{% block content %}

<div class="container" style="max-width:650px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form action="login"
              id="login_form" method=post class="form-horizontal">
            <!-- Static navbar -->
            <div id="div_login" class="panel panel-default" >
                <div class="panel-heading">Please, log-in into the APIC controller
                    <div id="login_response" style="float:right;font-size:16px"></div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-xs-12"> APIC-URL
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="APIC URL"
                                          data-content="Write the URL that you configured for the APIC. Do not
                                          forget to add 'http' or 'https' at the beginning">
                            </span>
                        </label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" maxlength="50" id="login_apic_url" value="{{ login_apic_url }}"
                                   name="login_apic_url" placeholder="Apic URL">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12"> Username
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="Username"
                                          data-content="The username must be valid APIC user">
                            </span>
                        </label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" maxlength="50" id="login_username" value="{{ login_username }}"
                                   name="login_username" placeholder="Username">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12"> Password
                             <span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="Username"
                                          data-content="Password for the above username">
                            </span>
                        </label>
                        <div class="col-xs-12">
                            <input type="password" class="form-control" maxlength="50" id="login_password" value=""
                                   name="login_password" placeholder="********">
                        </div>
                    </div>

                    <hr>
                    <button id="btn_create_group" type="submit" class="btn btn-primary" onclick="login()">
                        Login
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{{ super() }}
<script>

$().ready(function() {
    // validations
	$("#login_form").validate({
	    errorClass: "error",
        errorElement: "label",
        rules: {
                login_apic_url: {
                    required: true
                },
                login_username: {
                    required: true
                },
                login_password: {
                    required: true
                }
		},
		highlight: function(element, errorClass) {
                $(element).removeClass(errorClass);
        }
		});
    });

{% if error %}
    create_notification('Can not login','{{ error }}', 'danger', 0);
{% endif %}
</script>
{% endblock scripts %}
