{% extends "base.html" %}


{% block head %}
{{ super() }}
<title>ACI Migration Tool</title>
{% endblock head %}
{% block navbar %}

<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">L2 Integration tool</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Business Functions</li>
                            <li><a href="/groups">
                                Groups
                            </a></li>
                            <li><a href="/networks">
                                Networks
                            </a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Interfaces</li>
                            <li><a href="/vpcs">
                                VPCs
                            </a></li>
                            <li><a href="/vpc_access">
                                VPC Access
                            </a></li>
                            <li><a href="/single_access">
                                Single Access
                            </a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Integration Switches</li>
                            <li><a href="/access_switches">
                                Access switches
                            </a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Monitoring</li>
                            <li><a href="/monitor">
                                Monitor
                            </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">System <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a target="blank" data-toggle="modal" data-target="#ABOUT"
                                                 href="#">About</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                    <li>
                        <img width="35px" style="margin:15px;" src="/static/images/CiscoLogoWhite.png">

                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
{% endblock navbar %}
{% block content %}
{% set labelclass = "col-lg-2 col-md-2 col-sm-2 col-xs-6 control-label" %}
{% set labelclasslg = "col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label" %}
{% set selectclass = "col-lg-4 col-md-4 col-sm-4 col-xs-4" %}
{% set txtinputclassmd = "col-lg-6 col-md-6 col-sm-12 col-xs-12" %}
{% set txtinputclasssm = "col-lg-3 col-md-3 col-sm-6 col-xs-12" %}
{% set ipinputclass = "col-lg-3 col-md-3 col-sm-3 col-xs-12" %}
{% set ipinputclasssm = "col-lg-2 col-md-2 col-sm-3 col-xs-6" %}
{% set apiclabels = "col-lg-1 col-md-1 col-sm-1 col-xs-6 control-label" %}
{% set apicinputs = "col-lg-2 col-md-2 col-sm-2 col-xs-6" %}

<div class="container">
    <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
        <div style='' id="sidecompanylogo">&nbsp;</div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <form action="javascript:void(null);"
              onsubmit="submit_network_form()"
              id="network_form"
              class="form-horizontal">
            <input type="hidden" id="operation" name="operation" value="">
            <input type="hidden" id="sub_operation" name="sub_operation" value="">
            {% block subcontent %}
            {% endblock subcontent %}
        </form>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{{ super() }}
<script>
/*$().ready(function() {
		// validations
		$("#network_form").validate({
		    errorClass: "error",
            errorElement: "label",
            rules: {

			},
			highlight: function(element, errorClass) {
                $(element).removeClass(errorClass);
            }
		});
		get_groups();
        get_tenants();
        get_network_list();
        get_network_profile_list();
		get_leafs();
		get_vpcs();
		get_vpc_group_list();
		get_vpc_list();
		get_vpc_assignment_list();
		get_network_profiles();
		get_vpc_groups();
		get_access_switches();
		get_access_switch_list();
});*/

</script>
{% endblock scripts %}