<div id="noc_monitor_tab" class="tab-pane fade">
    <div id="div_noc_monitor" class="panel panel-primary">
        <div class="panel-heading">FedEx AFWH Noc Monitor
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"
                  data-toggle="popover"
                  data-trigger="hover"
                  title="AFWH Noc Monitor"
                  data-content="The following shows you the health scores of the main components
                                           of the APIC">
                                    </span>
            <div id="noc_monitor_response" style="float:right;font-size:16px"></div>
        </div>
        <div class="panel-body" id="health_data">
        </div>
    </div>
</div>

