{% extends "main.html" %}
{% set labelclasslg = "col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label" %}
{% set selectclass = "col-lg-4 col-md-4 col-sm-4 col-xs-4" %}
{% set txtinputclassmd = "col-lg-6 col-md-6 col-sm-12 col-xs-12" %}
{% block subcontent %}

<h1>Single Access</h1>
<hr/>

<div class="panel panel-primary">
    <div class="panel-heading"> Create Single Port Access
            <span class="fa fa-info-circle" aria-hidden="true"
                  data-toggle="popover"
                  data-trigger="hover"
                  title="Create Single Port Access"
                  data-content="A single port access is basically a way to allow VLANs
                                          to go trough the port, it is like a regular trunk port.
                                          You can do it selecting the VLAN that
                                          you want and the port, or also using VLAN profiles to save some time
                                          for those VLANs that need the same configuration. You can create VLAN
                                          profiles under the 'Network' section">
                                    </span>
        <div id="create_single_access_response" style="float:right;font-size:16px"></div>
    </div>

    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#"
                   onclick="$('#vlan_profile_port').css('display','none');
                            $('#single_vlan_port').css('display','');
                            $('#create_port_access_type').val('single_vlan')">
                    Single VLAN</a>
            </li>
            <li class=""><a data-toggle="tab" href="#"
                            onclick="$('#single_vlan_port').css('display','none');
                            $('#vlan_profile_port').css('display','');
                            $('#create_port_access_type').val('vlan_profile')">
                VLAN Profile</a></li>
        </ul>
        <br/>
        <div id="single_vlan_port">
            <div class="form-group">
                <label class="{{ labelclasslg }}"> Group
                            <span class="fa fa-info-circle" aria-hidden="true"
                                  data-toggle="popover"
                                  data-trigger="hover"
                                  title="Network"
                                  data-content="Select the group to be assign to the virtual port channel">
                            </span>
                </label>
                <div class="{{ selectclass }}">
                    <select id="sel_create_single_access_group" name="sel_create_single_access_group"
                            class="form-control sel-group" onchange="get_create_single_access_networks()">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="{{ labelclasslg }}"> Network
                            <span class="fa fa-info-circle" aria-hidden="true"
                                  data-toggle="popover"
                                  data-trigger="hover"
                                  title="Network"
                                  data-content="Select the network to be assign to the virtual port channel">
                            </span>
                </label>
                <div class="{{ selectclass }}">
                    <select id="sel_create_single_access_network" name="sel_create_single_access_network"
                            class="form-control network">
                    </select>
                </div>
            </div>
        </div>
        <div id="vlan_profile_port" style="display:none">
            <div class="form-group">
                <label class="{{ labelclasslg }}"> VLAN Profile
                            <span class="fa fa-info-circle" aria-hidden="true"
                                  data-toggle="popover"
                                  data-trigger="hover"
                                  title="Network"
                                  data-content="Select the vlan profile to be assign to the virtual port channel">
                            </span>
                </label>
                <div class="{{ selectclass }}">
                    <select id="sel_profile_create_port_access" name="sel_profile_create_port_access"
                            class="form-control sel-net-profile">
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="{{ labelclasslg }}"> Leaf switch
                            <span class="fa fa-info-circle" aria-hidden="true"
                                  data-toggle="popover"
                                  data-trigger="hover"
                                  title="Leaf"
                                  data-content="Select the leaf switch to be assigned to the network">
                            </span>
            </label>
            <div class="{{ selectclass }}">
                <select id="sel_create_single_access_leaf" name="sel_create_single_access_leaf"
                        class="form-control sel-leaf" onchange="get_create_single_access_ports()">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="{{ labelclasslg }}"> Port
                            <span class="fa fa-info-circle" aria-hidden="true"
                                  data-toggle="popover"
                                  data-trigger="hover"
                                  title="Leaf"
                                  data-content="Select the switch port to be assigned to the network">
                            </span>
            </label>
            <div class="{{ selectclass }}">
                <select id="sel_create_single_access_port" name="sel_create_single_access_port"
                        class="form-control">
                </select>
            </div>
        </div>
        <hr>
        <button id="btn_delete_single_access" type="button" class="btn btn-primary"
                onclick="create_single_access()">Create
        </button>
        <input type="hidden" name="create_port_access_type" id="create_port_access_type"
               value="single_vlan"/>
    </div>

</div>
<div class="panel panel-default">
    <div class="panel-heading">Delete Single Port Access
            <span class="fa fa-info-circle" aria-hidden="true"
                  data-toggle="popover"
                  data-trigger="hover"
                  title="Delete Single Port Access"
                  data-content="This will remove the VLANs from the port, and packets from those
                                          VLANs will not be able to go through the link. You can do it selecting the VLAN
                                          that you want to remove and the port, or also using VLAN profiles to save some time
                                          for those VLANs that need the same configuration. You can create VLAN
                                          profiles under the 'Network' section">
                                    </span>
        <div id="delete_single_access_response" style="float:right;font-size:16px"></div>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#"
                   onclick="$('#delete_vlan_profile_port').css('display','none');
                            $('#delete_single_vlan_port').css('display','');
                            $('#delete_port_access_type').val('single_vlan')">
                    Single VLAN</a>
            </li>
            <li class=""><a data-toggle="tab" href="#"
                            onclick="$('#delete_single_vlan_port').css('display','none');
                            $('#delete_vlan_profile_port').css('display','');
                            $('#delete_port_access_type').val('vlan_profile')">
                VLAN Profile</a></li>
        </ul>
        <br/>
        <div id="delete_single_vlan_port">
            <div class="form-group">
                <label class="{{ labelclasslg }}"> Group
                            <span class="fa fa-info-circle" aria-hidden="true"
                                  data-toggle="popover"
                                  data-trigger="hover"
                                  title="Network"
                                  data-content="Select the group to be assign to the virtual port channel">
                            </span>
                </label>
                <div class="{{ selectclass }}">
                    <select id="sel_delete_single_access_group" name="sel_delete_single_access_group"
                            class="form-control sel-group"
                            onchange="get_delete_single_access_networks()">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="{{ labelclasslg }}"> Network
                            <span class="fa fa-info-circle" aria-hidden="true"
                                  data-toggle="popover"
                                  data-trigger="hover"
                                  title="Network"
                                  data-content="Select the network to be assign to the virtual port channel">
                            </span>
                </label>
                <div class="{{ selectclass }}">
                    <select id="sel_delete_single_access_network"
                            name="sel_delete_single_access_network"
                            class="form-control network">
                    </select>
                </div>
            </div>
        </div>
        <div id="delete_vlan_profile_port" style="display:none">
            <div class="form-group">
                <label class="{{ labelclasslg }}"> VLAN Profile
                            <span class="fa fa-info-circle" aria-hidden="true"
                                  data-toggle="popover"
                                  data-trigger="hover"
                                  title="VLAN Profile"
                                  data-content="Select the VLAN profile to be assign to the virtual port channel">
                            </span>
                </label>
                <div class="{{ selectclass }}">
                    <select id="sel_profile_delete_port_access" name="sel_profile_delete_port_access"
                            class="form-control sel-net-profile">
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="{{ labelclasslg }}"> Leaf switch
                            <span class="fa fa-info-circle" aria-hidden="true"
                                  data-toggle="popover"
                                  data-trigger="hover"
                                  title="Leaf"
                                  data-content="Select the leaf switch to be assigned to the network">
                            </span>
            </label>
            <div class="{{ selectclass }}">
                <select id="sel_delete_single_access_leaf" name="sel_delete_single_access_leaf"
                        class="form-control sel-leaf" onchange="get_delete_single_access_ports()">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="{{ labelclasslg }}"> Port
                            <span class="fa fa-info-circle" aria-hidden="true"
                                  data-toggle="popover"
                                  data-trigger="hover"
                                  title="Port"
                                  data-content="Select the switch port to be assigned to the network">
                            </span>
            </label>
            <div class="{{ selectclass }}">
                <select id="sel_delete_single_access_port" name="sel_delete_single_access_port"
                        class="form-control">
                </select>
            </div>
        </div>
        <hr>
        <button id="btn_create_single_access" type="button" class="btn btn-danger"
                onclick="delete_single_access()">Remove Assignment
        </button>
        <input type="hidden" name="delete_port_access_type" id="delete_port_access_type"
               value="single_vlan"/>
    </div>
</div>

{% endblock subcontent %}


{% block scripts %}
{{ super() }}
<script>
$().ready(function() {
		// validations
		$("#network_form").validate({
		    errorClass: "error",
            errorElement: "label",
            rules: {

			},
			highlight: function(element, errorClass) {
                $(element).removeClass(errorClass);
            }
		});
		get_groups();
		get_leafs();
		get_network_profiles();
		get_cobra_compatibility();
		get_tenants();
});

</script>
{% endblock scripts %}