<div id="vpc_tab" class="tab-pane fade">
    <div id="div_create_vpc_group" name="div_create_vpc_group" class="panel panel-primary">
        <div class="panel-heading">Create VPC Switch Bundle
            <span class="fa fa-info-circle" aria-hidden="true"
                  data-toggle="popover"
                  data-trigger="hover"
                  title="Create VPC Switch Bundle"
                  data-content="A switch bundle is a pair of switches that are used to create
                                          a VPC. If you want to create a VPC, you first need to create a switch bundle.
                                          This will create an explicit protection group in the APIC">
                                    </span>
            <div id="div_create_vpc_group_response" style="float:right;font-size:16px"></div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="{{ labelclass }}"> First leaf switch
                                    <span class="fa fa-info-circle" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="Second Leaf"
                                          data-content="Select the first leaf switch to be bundled">
                                    </span>
                </label>
                <div class="{{ selectclass }}">
                    <select id="sel_create_vpc_group_leaf_1" name="sel_create_vpc_group_leaf_1"
                            class="form-control sel-leaf">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="{{ labelclass }}"> Second leaf switch
                                    <span class="fa fa-info-circle" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="Second Leaf"
                                          data-content="Select the second leaf switch to be bundled">
                                    </span>
                </label>
                <div class="{{ selectclass }}">
                    <select id="sel_create_vpc_group_leaf_2" name="sel_create_vpc_group_leaf_2"
                            class="form-control sel-leaf">
                    </select>
                </div>
            </div>
            <hr>
            <button id="btn_create_vpc_group" type="button" class="btn btn-primary"
                    onclick="create_vpc_group()">Create
            </button>
        </div>
    </div>
    <div id="div_delete_vpc_group" name="div_delete_vpc" class="panel panel-default">
        <div class="panel-heading">Delete VPC switch pair
            <span class="fa fa-info-circle" aria-hidden="true"
                  data-toggle="popover"
                  data-trigger="hover"
                  title="Delete VPC switch pair"
                  data-content="This will delete an explicit protection group in the APIC. All
                                          the VPCs using this bundle will stop working">
                                    </span>
            <div id="delete_vpc_group_response" style="float:right;font-size:16px"></div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="{{ labelclass }}"> VPC
                                    <span class="fa fa-info-circle" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="VPC name"
                                          data-content="Select the switch bundle that will be deleted">
                                    </span>
                </label>
                <div class="{{ selectclass }}">
                    <select id="sel_delete_vpc_group_name" name="sel_delete_vpc_group_name"
                            class="form-control sel-vpc-group">
                    </select>
                </div>
            </div>
            <hr>
            <button id="btn_delete_vpc_group" type="button" class="btn btn-danger" onclick="delete_vpc_group()">Delete
            </button>
        </div>
    </div>
    <div id="div_create_vpc" name="div_create_vpc" class="panel panel-primary">
        <div class="panel-heading">Create Virtual Port Channel
            <span class="fa fa-info-circle" aria-hidden="true"
                  data-toggle="popover"
                  data-trigger="hover"
                  title="Create Virtual Port Channel"
                  data-content="Several things need to be created in APIC to create a VPC, but
                                          do not worry, this tool creates the interface profiles, switch profiles and
                                          interface policy groups that are needed in the APIC">
            </span>
            <div id="create_vpc_response" style="float:right;font-size:16px"></div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="{{ labelclass }}"> VPC name
                                    <span class="fa fa-info-circle" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="VPC name"
                                          data-content="Specify the name of the new virtual port channel.">
                                    </span>
                </label>
                <div class="{{ txtinputclassmd }}">
                    <input type="text" class="form-control" maxlength="50" id="create_vpc_name" value=""
                           name="create_vpc_name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label class="{{ labelclass }}"> VPC group
                                    <span class="fa fa-info-circle" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="Leaf"
                                          data-content="Select the switch bundle to be used. VPC switch bundles can be
                                          create above">
                                    </span>
                </label>
                <div class="{{ selectclass }}">
                    <select id="sel_vpc_group_create_vpc" name="sel_vpc_group_create_vpc"
                            class="form-control sel-vpc-group" onchange="get_leafs_by_vpc_group()">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="{{ labelclass }}"> Leaf switch
                                    <span class="fa fa-info-circle" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="Leaf"
                                          data-content="Select the leaf switch to be assigned to the vpc">
                                    </span>
                </label>
                <div class="{{ selectclass }}">
                    <select id="sel_leaf_create_vpc" name="sel_leaf_create_vpc"
                            class="form-control" onchange="get_ports()">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="{{ labelclass }}"> Port
                                    <span class="fa fa-info-circle" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="Port"
                                          data-content="Select the switch port to be assigned to the vpc. Ports that
                                          are used for other VPC created with this tool are not shown, but ports that
                                          are used to connect other devices, like the APIC, are shown. Do not assume that
                                          is a free port just because it is shown in the list">
                                    </span>
                </label>
                <div class="{{ selectclass }}">
                    <select id="sel_port_create_vpc" name="sel_port_create_vpc" class="form-control">
                    </select>
                </div>
            </div>
            <hr>
            <button id="btn_add_port_vpc" type="button" class="btn btn-primary" onclick="add_port()">Add
            </button>
            <div class="form-group">
                <table id="vpc_ports" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Switch</th>
                        <th>Port</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr></tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <button id="btn_create_vpc" type="button" class="btn btn-primary" onclick="create_vpc()">Create
            </button>
            <input type="hidden" value="" id="port_dns" name="port_dns">
        </div>
    </div>
    <div id="div_delete_vpc" name="div_delete_vpc" class="panel panel-default">
        <div class="panel-heading">Delete Virtual Port Channel
            <span class="fa fa-info-circle" aria-hidden="true"
                  data-toggle="popover"
                  data-trigger="hover"
                  title="Delete Virtual Port Channel"
                  data-content="Several things need to be removed in the APIC when you delete a VPC.
                  This tool will remove the interface profiles, switch profiles and
                                          interface policy groups that are associated to the VPC to keep the APIC clean
                                           of things that you do not need anymore">
            </span>
            <div id="delete_vpc_response" style="float:right;font-size:16px"></div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="{{ labelclass }}"> VPC
                                    <span class="fa fa-info-circle" aria-hidden="true"
                                          data-toggle="popover"
                                          data-trigger="hover"
                                          title="VPC name"
                                          data-content="Select virtual port channel that will be deleted.">
                                    </span>
                </label>
                <div class="{{ selectclass }}">
                    <select id="sel_delete_vpc_name" name="sel_delete_vpc_name"
                            class="form-control sel-vpc" onchange="get_delete_vpc_assigned_ports()">
                    </select>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <table id="delete_vpc_ports" class="table table-striped">

                </table>
            </div>
            <hr>
            <button id="btn_delete_vpc" type="button" class="btn btn-danger" onclick="delete_vpc()">Delete
            </button>
        </div>
    </div>
</div>